<h1>Employees</h1>
<table>
<% employees.forEach(function(employee,i){  %>
    <tr style="color: <%= employee.color %>">
        <td><%= employee.id %></td> 
        <td><%= employee.name %></td>
    </tr>

<%  });   %>
</table>

<form action="/insert" method = "POST">
    <input name = "name" />
    <input type = "submit">
</form>


<style>

table td { border: 1px dotted black;}